/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};

	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&ffs1>;
		// disk-name must be one of "RAM","NAND","CF","SD","SD2","USB","USB2","USB3"
		disk-name = "NAND";
		cache-size = <4096>;
		// when changing sector-size, adapt CONFIG_FS_FATFS_MAX_SS or crash
		sector-size = <512>;
	};
};

&pinctrl {
	pdm0_default_alt: pdm0_default_alt {
		group1 {
			psels = <NRF_PSEL(PDM_CLK, 1, 11)>,
				<NRF_PSEL(PDM_DIN, 1, 12)>;
		};
	};
};

dmic_dev: &pdm0 {
	status = "okay";
	pinctrl-0 = <&pdm0_default_alt>;
	pinctrl-names = "default";
	clock-source = "PCLK32M_HFXO";
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		ffs1: partition@0 {
			label = "ffs1";			
			reg = <0x00000000 0x00100000>;
		};
	};
};
